@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
}

body {
	font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bg-login-gradient {
	background: linear-gradient(90deg, #FFF6FF 0%, #E9ECF2 100%);
}
